<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<link rel="stylesheet" href="../stylesheets/bootstrap.css">

	<script src="../javacripts/bootstrap.js"></script>

	<link rel="stylesheet" href="../stylesheets/style.css">

</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form" action="/insert" method="POST">
    <center><img src="../images/logo.png" class="img-responsive" height="45%" width="45%"></img></center>
      <h2>De La Salle Lipa</h2>
      <h4>Captive Portal</h4>

      <input type="email" placeholder="Username" class="glowing-border" name="username"/>

      <input type="password" placeholder="Password" class="glowing-border" name="password"/>

      <button type="submit" class="btn btn-primary">login</button>

      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
</body>
</html>

